
  <header class="header">
    <div class="header_title">
      <h1>Weather in your city</h1>
    </div>
    <div class="header_input">
      <input class="input_data" type="text" (change)="getLocation($event)">
    </div>
    <div class="header_input">
      <button type="button" (click)="searchByCity()">Search</button>
    </div>
    <div *ngIf="load" class="header_input">
      <img src="../assets/loader.gif" alt="loading" width="75" height="75"/>
    </div>
  </header>

  <div class="table_container">
    <div *ngFor="let res of this.eachRecord; let i = index">
    <table style="width: 250px; height: 200px;" *ngIf= "i <= 4">
       <tr style="background-color: #ff7300">
          <th>Date: {{res.dt_txt | date:'dd/MM/yyyy'}}</th>
          <th></th>
       </tr>
       <tr class="tr-bg-color">
          <th>Temperature</th>
          <th></th>
       </tr>
       <tr class="tr-bg-color">
          <td>Min</td>
          <td>Max</td>
       </tr>
       <tr class="tr-bg-color">
          <td>{{res?.main?.temp_min}}</td>
          <td>{{res?.main?.temp_max}}</td>
       </tr>
       <tr>
          <td>Pressure</td>
          <td>{{res?.main?.pressure}}</td>
      </tr>
      <tr>
        <td>Humadity</td>
        <td>{{res?.main?.humidity}}</td>
      </tr>
    </table>
</div>
<router-outlet></router-outlet>
